:root {
  --title-color: #9147ff;
  --title-glow: rgba(145, 71, 255, 0.8);
  --accent-glow: rgba(145, 71, 255, 0.3);
  --bg-color: #18181b;
  --text-color: #ffffff;
  --first-color: #ffdd57;
  --first-glow: rgba(255, 221, 87, 0.8);
  --second-color: #d7d7d7;
  --third-color: #91662a;
  --third-glow: rgba(145, 102, 42, 0.66);
}

html,
body {
  background-color: transparent;
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;

  padding-bottom: 15px;

  width: 100%;
  height: 100%;

  place-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 5vw;
  font-weight: bold;
  color: var(--title-color);
  text-transform: uppercase;
  text-shadow: 0px 0px 10px var(--title-glow);
  margin-top: 0px;
  text-align: center;
}

h3 {
  font-size: 4vw;
  letter-spacing: 3px;
}

.game-container {
  background-color: var(--bg-color);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px var(--accent-glow);
  margin: 15px;

  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.winner {
  font-size: clamp(20px, 5vw, 100px);
  color: var(--first-color);
  text-shadow: 0px 0px 10px var(--first-glow);
}

.secondplace {
  font-size: clamp(20px, 5vw, 100px);
  color: var(--second-color);
  text-shadow: 0px 0px 10px var(--first-glow);
}

.thirdplace {
  font-size: clamp(20px, 5vw, 100px);
  color: var(--third-color);
  text-shadow: 0px 0px 10px var(--third-glow);
}

ol {
  justify-self: center;
  text-align: left;
}
